<div class="login-box-body">
  <p class="login-box-msg">Entre com suas Credenciais</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <%= f.submit 'Entrar', class:'btn btn-danger btn-block btn-flat' %>
    </div>
    <!-- /.col -->
  </div>
  <% end %>
  <%= link_to 'Esqueceu sua senha? clique aqui', new_user_password_path %>
</div>
