<%= render 'shared/errors', object: f.object %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control', placeholder: 'Nome'  %>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control', placeholder: 'Sobrenome' %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
</div>

<div class="form-group">
  <%= f.label :unit_id, "Unidade de Trabalho" %>
  <%= f.select :unit_id, Unit.all.collect {|unit| [unit.name.titleize, unit.id]}, {include_blank: 'Selecione uma unidade'}, { class: 'form-control' } %>
</div>

<%= f.hidden_field 'permission_ids[]', value: [] %>
<%= hidden_field_tag 'permission_ids[]'%>

<div class="form-group">
  <%= f.label "Papeis"%>
  <% Permission.all.each do |permission| %>
  <ul>
    <li>
      <div class="checkbox">
        <label>
          <%= check_box_tag "permission_ids[]", permission.id, user.permissions.include?(permission), id: "user_#{permission.name}"%>
          <%= f.label permission.human_name %>
        </label>
      </div>
    </li>
  </ul>
  <% end %>
</div>
