<p id="notice"><%= notice %></p>

<h1> Cadastro Acessorios Rpas</h1>

<table  class="table table-bordered table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cor</th>
      <th>Descricao</th>
      <th>Serial num bateria</th>
      <th>Serial sigla bateria</th>
      <th>Compativel aeronave bateria</th>
      <th>Modelo bateria</th>
      <th>Material bateria</th>
      <th>Carga bateria</th>
      <th>Potencia bateria</th>
      <th>Tensao bateria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acessorios_rpas.each do |acessorios_rpa| %>
      <tr>
        <td><%= acessorios_rpa.nome %></td>
        <td><%= acessorios_rpa.cor %></td>
        <td><%= acessorios_rpa.id_acessorio_intege %></td>
        <td><%= acessorios_rpa.serial_num_bateria %></td>
        <td><%= acessorios_rpa.serial_sigla_bateria %></td>
        <td><%= acessorios_rpa.compativel_aeronave_bateria %></td>
        <td><%= acessorios_rpa.modelo_bateria %></td>
        <td><%= acessorios_rpa.material_bateria %></td>
        <td><%= acessorios_rpa.carga_bateria %></td>
        <td><%= acessorios_rpa.potencia_bateria %></td>
        <td><%= acessorios_rpa.tensao_bateria %></td>
        <td><%= link_to 'Mostrar', acessorios_rpa %></td>
        <td><%= link_to 'Editar', edit_acessorios_rpa_path(acessorios_rpa) %></td>
        <td><%= link_to 'Destruir', acessorios_rpa, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Acessorios Rpa', new_acessorios_rpa_path %>
