<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <br>
  <%= @acessorios_rpa.nome %>
</p>

<p>
  <strong>Cor:</strong>
  <br>
  <%= @acessorios_rpa.cor %>
</p>

<p>
  <strong>Descricao:</strong>
  <br>
  <%= @acessorios_rpa.descricao %>
</p>

<p>
  <strong>Id usuario:</strong>
  <br>
  <%= @acessorios_rpa.id_usuario %>
</p>

<p>
  <strong>Id acessorio intege:</strong>
  <br>
  <%= @acessorios_rpa.id_acessorio_intege %>
</p>

<p>
  <strong>Serial num bateria:</strong>
  <br>
  <%= @acessorios_rpa.serial_num_bateria %>
</p>

<p>
  <strong>Serial sigla bateria:</strong>
  <br>
  <%= @acessorios_rpa.serial_sigla_bateria %>
</p>

<p>
  <strong>Compativel aeronave bateria:</strong>
  <br>
  <%= @acessorios_rpa.compativel_aeronave_bateria %>
</p>

<p>
  <strong>Modelo bateria:</strong>
  <br>
  <%= @acessorios_rpa.modelo_bateria %>
</p>

<p>
  <strong>Material bateria:</strong>
  <br>
  <%= @acessorios_rpa.material_bateria %>
</p>

<p>
  <strong>Carga bateria:</strong>
  <br>
  <%= @acessorios_rpa.carga_bateria %>
</p>

<p>
  <strong>Potencia bateria:</strong>
  <br>
  <%= @acessorios_rpa.potencia_bateria %>
</p>

<p>
  <strong>Tensao bateria:</strong>
  <br>
  <%= @acessorios_rpa.tensao_bateria %>
</p>

<%= link_to 'Editar', edit_acessorios_rpa_path(@acessorios_rpa) %> |
<%= link_to 'Voltar', acessorios_rpas_path %>
