<p id="notice"><%= notice %></p>

<p>
  <strong>Objetivo operacao:</strong>
  <%= @plano_de_voo.objetivo_operacao %>
</p>

<p>
  <strong>Codigo chamdarpa:</strong>
  <%= @plano_de_voo.codigo_chamdarpa %>
</p>

<p>
  <strong>Data voo:</strong>
  <%= @plano_de_voo.data_voo %>
</p>

<p>
  <strong>Duracao frequencia voo:</strong>
  <%= @plano_de_voo.duracao_frequencia_voo %>
</p>

<p>
  <strong>Regra voo:</strong>
  <%= @plano_de_voo.regra_voo %>
</p>

<p>
  <strong>Tipo operacao:</strong>
  <%= @plano_de_voo.tipo_operacao %>
</p>

<p>
  <strong>Numero estacao:</strong>
  <%= @plano_de_voo.numero_estacao %>
</p>

<p>
  <strong>Localizao estacao:</strong>
  <%= @plano_de_voo.localizao_estacao %>
</p>

<p>
  <strong>Procedimento transferencia:</strong>
  <%= @plano_de_voo.procedimento_transferencia %>
</p>

<p>
  <strong>Local decolagem:</strong>
  <%= @plano_de_voo.local_decolagem %>
</p>

<p>
  <strong>Local destino:</strong>
  <%= @plano_de_voo.local_destino %>
</p>

<p>
  <strong>Requisitos decolagem:</strong>
  <%= @plano_de_voo.requisitos_decolagem %>
</p>

<p>
  <strong>Requisitos pouso:</strong>
  <%= @plano_de_voo.requisitos_pouso %>
</p>

<p>
  <strong>Rota:</strong>
  <%= @plano_de_voo.rota %>
</p>

<p>
  <strong>Altura voo:</strong>
  <%= @plano_de_voo.altura_voo %>
</p>

<p>
  <strong>Comunicacao ats:</strong>
  <%= @plano_de_voo.comunicacao_ats %>
</p>

<p>
  <strong>Enlace pilotagem:</strong>
  <%= @plano_de_voo.enlace_pilotagem %>
</p>

<p>
  <strong>Comunicacao piloto observador:</strong>
  <%= @plano_de_voo.comunicacao_piloto_observador %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @plano_de_voo.id_usuario %>
</p>

<%= link_to 'Edit', edit_plano_de_voo_path(@plano_de_voo) %> |
<%= link_to 'Back', plano_de_voos_path %>
