<%= form_for(cadastro_rpa) do |f| %>
  <% if cadastro_rpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadastro_rpa.errors.count, "error") %> prohibited this cadastro_rpa from being saved:</h2>

      <ul>
      <% cadastro_rpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fabrica %>
    <%= f.text_field :fabrica %>
  </div>

  <div class="field">
    <%= f.label :modelo %>
    <%= f.text_field :modelo %>
  </div>

  <div class="field">
    <%= f.label :propulsao %>
    <%= f.text_field :propulsao %>
  </div>

  <div class="field">
    <%= f.label :serial %>
    <%= f.text_field :serial %>
  </div>

  <div class="field">
    <%= f.label :descricao_material %>
    <%= f.text_area :descricao_material %>
  </div>

  <div class="field">
    <%= f.label :numero_certificado_requerente %>
    <%= f.number_field :numero_certificado_requerente %>
  </div>

  <div class="field">
    <%= f.label :tipo_certificado_requerente %>
    <%= f.number_field :tipo_certificado_requerente %>
  </div>

  <div class="field">
    <%= f.label :anexar_certificado_requerente %>
    <%= f.text_field :anexar_certificado_requerente %>
  </div>

  <div class="field">
    <%= f.label :pais_registro_rpa %>
    <%= f.text_field :pais_registro_rpa %>
  </div>

  <div class="field">
    <%= f.label :matricula_rpa %>
    <%= f.text_field :matricula_rpa %>
  </div>

  <div class="field">
    <%= f.label :anexo_copia_certificado_rpa %>
    <%= f.text_field :anexo_copia_certificado_rpa %>
  </div>

  <div class="field">
    <%= f.label :anexo_copia_matricula_rpa %>
    <%= f.text_field :anexo_copia_matricula_rpa %>
  </div>

  <div class="field">
    <%= f.label :num_certificado_estacao %>
    <%= f.number_field :num_certificado_estacao %>
  </div>

  <div class="field">
    <%= f.label :tipo_certificado_estacao %>
    <%= f.text_field :tipo_certificado_estacao %>
  </div>

  <div class="field">
    <%= f.label :anexar_licensa_estacao %>
    <%= f.text_field :anexar_licensa_estacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
