<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag 'drone2.jpg', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger img-responsive">
        <%= link_to 'Gestão Cadastro Rpa', cadastro_rpas_path %>
      </div>
      </div>
    </div>

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag 'planovoo.jpg', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger ">
        <%= link_to 'Gestão Plano de Voo', plano_de_voos_path %>
      </div>
      </div>
    </div>

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag '1478810253_Settings_2.png', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger ">
        <%= link_to 'Gestão Acessorios Rpa', acessorios_rpas_path %>
      </div>
      </div>
    </div>

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag '1478810503_Edit.png', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger img-responsive">
        <%= link_to 'Gestão Relatorio de Vôo', relatorio_plano_de_voos_path %>
      </div>
      </div>
    </div>

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag '12456-NOEMND.jpg', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger img-responsive">
        <%= link_to 'Gestão Cadastro Pilotos', cadastro_pilotos_path %>
      </div>
      </div>
    </div>

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag '1478810115_General_-_Office_32.png', class: 'img-circl`e' %>
      </div>
      <div class="pull-left info">
        <div class="btn-sm btn btn-danger img-responsive">
        <%= link_to 'Gestão Cadastro Equipe', cadastro_equipe_rpas_path %>
      </div>
      </div>
    </div>



    <!-- Menu goes here -->

    <ul class="sidebar-menu">

      <!-- BEGIN - MODULO RECURSOS HUMANOS -->
      <% if current_user.has_permission?('administrador') %>
      <li class="treeview <%= 'active' if controller?('users') %>">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Recursos Humanos</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to users_path do %>
              <i class="fa fa-circle-o"></i> Consultar Servidor
            <% end %>
          </li>
          <li>
            <%= link_to new_user_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Servidor
            <% end %>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Relatórios</a></li>
        </ul>
      </li>

      <li class="treeview <%= 'active' if controller?('units') %>">
        <a href="#">
          <i class="fa fa-university"></i>
          <span>Unidades Militares</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to units_path do %>
              <i class="fa fa-circle-o"></i> Listar Unidades
            <% end %>
          </li>
          <li>
            <%= link_to new_unit_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Unidade
            <% end %>
          </li>
        </ul>
      </li>

      <% end %>
      <!-- END - MODULO RECURSOS HUMANOS -->


      <!-- BEGIN - MODULO ADMINISTRADOR DA APLICAÇÃO -->
      <% if current_user.has_permission?('administrador') %>
      <li class="treeview <%= 'active' if controller?('permissions') %>">
        <a href="#">
          <i class="fa fa-unlock-alt"></i>
          <span>Controle de Papeis</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to permissions_path do %>
              <i class="fa fa-circle-o"></i> Consultar Papeis
            <% end %>
          </li>
          <li>
            <%= link_to new_permission_path do %>
              <i class="fa fa-circle-o"></i> Cadastrar Papel
            <% end %>
          </li>
        </ul>
      </li>

      <% end %>
      <!-- END - MODULO ADMINISTRADOR DO SISTEMA -->

    </ul>

    <!-- end - menu -->

  </section>
  <!-- /.sidebar -->
</aside>
